services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
      args:
        VITE_POCKETBASE_URL: "http://localhost:8090"
    ports:
      - "8090:8090"
    volumes:
      - pb_data:/pb/pb_data
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        NEXT_PUBLIC_POCKETBASE_URL: "http://localhost:8090"
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_POCKETBASE_URL=http://localhost:8090
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pb_data:
