@import "tailwindcss";


/* Ensure body occupies full height */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}